<!DOCTYPE html>
<html>
    <head>
        <title>Courses</title>
        {%load static%}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <h1> {{ request.session.name}}  </h1>
    <form action="/update" method="post">
            {% csrf_token %}
            Tasks:
            <input type="text" name="task" value="{{ appt.tasks }}">
            <br><br>
            Status:<br>
            <select name="status">
                <option selected ="selected"> {{ appt.status }}</option>
                <option value="Done">Done</option>
                <option value="Missed">Missed</option>
            </select>
            <br>
            Date:<br>
            <input type="date" name="date" value="{{ date.date }}">
            <br><br>
            Time:<br>
            <input type="time" name="time" selected="selected" value="{{ time.time }}">
            <br><br>
            <input type='submit' value='Update'>
        </form>
        <div> 
         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        <a href="/appointments">Home</a> |
        <a href="/logout">Logout</a>
        </div>
    </body> 
</html>